:root {
  --bg-primary: #121212;
  --bg-secondary: #2b2b2b;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --accent-dark: #5d4fcb;
  --accent-light: #b59ce6;
  --danger: #c62828;
  --warning: #ffb300;
  --success: #43a047;
  --border: #555555;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}