:root {
  --bg-primary: #2d293a;
  --bg-secondary: #3e3853;
  --text-primary: #eee;
  --text-light: #fff;
  --text-dark: #bfbcd7;
  --accent-dark: #776ad8;
  --accent-light: #b59ce6;
  --danger: #c62828;
  --warning: #ffb300;
  --success: #43a047;
  --border: #555555;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}